@charset "utf-8";

.bg {
	width: 100%;
	min-height: 100vh;
	background-size: 100%;
	overflow: hidden;
	position: relative;

}
a {
	color: inherit;
}

.header {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	height: 6.97vh;
	display: flex;
	align-items: center;
	color: #e4ca99;
	background-image: linear-gradient(#c42323, #920e10);
	width: 100%;
	color: #fff1de;
	justify-content: center;
	font-size: 0.32rem;
}




.content {
	background-size: 100%;
	background-image: url(../images/4-5.png);
	background-repeat: no-repeat;
	background-color: #ffedd2;
	min-height: 93.03vh;
	overflow: hidden;
	
}

.top-title {
	padding: 0 0.3rem;
	margin: 0.2rem 0 0;
	background-image: url(../images/3-1.png);
	background-repeat: no-repeat;
	height: 2.5rem;
	background-size: 95%;
	background-position: center;
	display: flex;
	
}


.img-box {
	padding: 0.15rem 0 .36rem;
	color: #fff;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	padding-left: 0.2rem;
	align-items: baseline;
}

.img-box h5{
	margin-top: 0.18rem;
	font-size: 0.28rem;
}

.img-box h3{
	font-size: 0.40rem;
	text-indent: .9rem;
	margin-bottom: 0.1rem;
}

.img-box a {
	color: #fff1d3;
    font-size: 0.2rem;
    transform: scale(.95);
    margin-bottom: 0.08rem;
    width: 58%;
	white-space: nowrap;
    text-align: center;
}

.item {
	
}

.item-title {
	text-align: center;
	color: #c02121;
	padding: 0.4rem;
	font-size: 0.4rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-title::before,
.item-title::after {
	content: '';
	display: inline-block;
	transform: rotate(45deg);
	width: 0.15rem;
	height: 0.15rem;
	background-color: #c02121;
}

.item-title::before {
	margin-right: 0.2rem;
}
.item-title::after {
	margin-left: 0.2rem;
}

.list-img-box {
	display: flex;
	flex-direction: row;
	padding: 0 0.3rem;
}

.item:nth-of-type(1) > .list-img-box > div:nth-of-type(2) {
	margin: 0 0.2rem;
}

.item-2 .list-img-box {
	flex-direction: column;
}

.set-img-1{
	background-image: url(../images/3-2.png);
	height: 4rem;
}

.set-img-1,.set-img-2 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.set-img-2 {
	background-image: url(../images/3-3.png);
	height: 5rem;
}

.footer {
	margin: 0.6rem 0.15rem 0.2rem;
	background-image: url(../images/2-5.png);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #8b4e21;
}


.footer .title {
	text-align: center;
	color: #fff2df;
	padding-top: 0.12rem;
}

.sentence {
	display: flex;
	padding: 0.2rem 0.1rem .1rem 0.4rem;
}

.sentence p {
	font-weight: bold;
	letter-spacing: 0.01rem;
}

.sentence span {
	color: #d54c32;
	font-size: 0.32rem;
}


.icon-bk {
	margin-right: 0.2rem;
	background-image: url(../images/2-4.png);
	background-repeat: no-repeat;
	display: flex;
	width: .6rem;
	background-size: cover;
	color: #c0311c;
	height: .6rem;
	justify-content: center;
	align-items: center;
	font-size: 0.28rem;
	font-weight: 400;
}

.customize {
	padding-bottom: 0.6rem;
}